*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: indigo;
}
h3 {
    font-size: 15px;
    color: black;
    position: relative;
}

header {
    height: 70px;
}
header h1 {
    display: inline-block;
    float: none;
    padding: 15px 24px;
    text-transform: inherit;
}
header ul {
    float: right;
}
header ul li {
    padding: 24px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container::after {
    content:'';
    display: block;
    clear: both;
}
.banner {
    background-color: dodgerblue;
    padding: 150px;
}
section {
    padding: 50px 0;
}
.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
}
.banner h2, 
.banner span {
    color: indigo;
}
.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 18px;
}
.banner-left {
    padding: left 24px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: lightcoral;
    left: calc(50% - 60px);
}
section h3::after {
    content:'';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: red;
    left: calc(50% - 20px);
}
#about {
    background-color:#afeeee;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
#CV {
    background-color:#afeeee;
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
#Blog {
    background-color: #afeeee;
    text-align: center;
    text-indent: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
#Contact {
    background-color:#afeeee;
}
.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}
footer {
    background-color: violet;
    padding: 50px;
    text-align:center;
}
html {
    scroll-behavior: smooth;
}
@media (max_width: 768px){
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
    .col-3 {
        width: 100%;
    }
}
